<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Web in limited edition :v</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">HaoHao</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Registers</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Helps<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <hr>
            <div class="carousel slide" id="carousel-732333">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-732333">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-732333">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-732333">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active" >
                        <img aria-posinset="2" alt="Carousel Bootstrap Second" src="http://media.bizwebmedia.net/sites/76685/data/Upload/2015/4/16_yeu_to_quan_trong_trong_nhiep_anh_nghe_thuat.jpg" />
                        <div class="carousel-caption">
                            <h2> <a href="https://photomarathon.canon-asia.com/2017/vietnam/vi/home" target="_blank" title="Cập nhật thông tin mới nhất tại đây :))">
                                Canon Photomarathon </a>
                            </h2>
                            <p>
                                Cuộc Thi Sáng Tác Ảnh Canon Photomarathon 2017 là một cuộc thi sáng tác ảnh nhanh được Canon Việt Nam
                                kết hợp cùng cty Lê Bảo Minh tổ chức nhắm mục đích tạo ra sân chơi lớn cho những người đam mê chụp ảnh
                                mà không phân biệt độ tuổi, máy ảnh, chuyên nghiệp hay nghiệp dư.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img height="80" alt="Carousel Bootstrap First" src="https://photo2.tinhte.vn/data/attachment-files/2017/09/4126231_C.jpg" />
                        <div class="carousel-caption">
                            <h2>
                                <a href="http://50mm.vn/" target="_blank" title="Cập nhật thông tin mới nhất tại đây :))">
                                    Photography Series</a>
                            </h2>
                            <p>
                                <strong>Nhiếp ảnh</strong> là quá trình tạo ra hình ảnh bằng tác động của <u><i>ánh sáng</i></u> với phim hoặc thiết bị nhạy sáng.
                                Nhiếp ảnh dùng một thiết bị đặc biệt để ghi lại hình ảnh của vật thể thông qua ánh sáng được <u><i>phản chiếu</i></u>
                                từ các vật thể lên giấy hoặc phim nhạy sáng,
                                bằng cách căn thời gian phơi sáng. Quá trình này được thực hiện bằng các thiết bị cơ học, hóa học, hay
                                kỹ thuật số thường được gọi là máy ảnh hay máy chụp hình.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-732333" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-732333" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>

    <div ng-app="MyApp" ng-controller="MyCtrl">
        <div class="row">
            <div class="col-md-12">

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="tu_khoa">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div ng-repeat="video in videos|filter:{title: tu_khoa}" class="col-sm-3">
                    <a href="https://www.youtube.com/watch?v={{video.id}}" >
                        <img src="https://i.ytimg.com/vi/{{video.id}}/hqdefault.jpg" alt=" " class="img-thumbnail">
                        <div style="overflow: hidden; text-overflow: ellipsis">
                   <span style="white-space: nowrap">
                       {{video.title}}
                   </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app=angular.module("MyApp", []);
        app.controller("MyCtrl", function ($scope) {
            $scope.videos = [{
                "id": "z1zWvtRucn0", "title": "Tại sao chúng ta cần mua máy ảnh?"},
                {"id": "PwrA7yFo7eQ", "title": "Tìm hiểu về Khẩu Độ"},
                {"id": "Tdz_4PZtqkE", "title": "Tìm hiểu về Tốc độ chụp"},
                {"id": "2-vykRIVdyM", "title": "Tìm hiểu về Độ nhạy sáng ISO"},
                {"id": "rBm8OD10wDE", "title": "Phân biệt máy ảnh có gương lật & không gương lật"},
                {"id": "mvno_RLVjvA", "title": "Chế độ chụp M (Manual)"},
                {"id": "RXMnDgUUl94", "title": "Kiểm tra một tiết về kiểm soát ánh sáng!"},
                {"id": "pUfJlmjjfb4", "title": "Chế độ đo sáng"},
                {"id": "2bcNTVqdN6k", "title": "Chế độ lấy nét"},
                {"id": "0Heexa11c7k", "title": "Cân Bằng Trắng - White Balance"},
                {"id": "tilj1GxakkA", "title": "Định dạng ảnh RAW"},
                {"id": "Zwq0XKRBzrI", "title": "Cảm biến Crop hay Full-Frame"}];
        })
    </script>
<hr>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <address>
                <br>
                <br>
            <strong>Address: </strong><br/>Le Thi Hao - 30/04/1998 <br/>hao.lt@4tech.com <br/>
            <abbr title="Email:">Phone Number:</abbr> 0968.437.5**
        </address>
        </div>
    </div>
</div>
</body>
</html>
